Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  misc-*,
  -misc-include-cleaner,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -readability-uppercase-literal-suffix,
  -readability-avoid-const-params-in-decls,
  -readability-identifier-length,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,

WarningsAsErrors: '*'

HeaderFilterRegex: '.*'
FormatStyle: file
