Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  misc-*,
  -misc-include-cleaner,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -readability-uppercase-literal-suffix,
  -readability-avoid-const-params-in-decls,
  -readability-identifier-length

WarningsAsErrors: '*'

HeaderFilterRegex: '.*'
FormatStyle: file
